#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid transparent;
}

#header.on,
#header:hover {
    background: var(--white-color);
    border-bottom: 1px solid #ddd;
}

#header .hd_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin: 0 4rem;
}

#header .hd_wrap h1 {
    flex: 1;
}

#header .hd_wrap h1 a {
    display: block;
    background: url(../images/logo.png) no-repeat center;
    width: 15rem;
    height: 4rem;
    color: transparent;
}

#header.on .hd_wrap h1 a,
#header:hover .hd_wrap h1 a {
    background: url(../images/logo_on.png) no-repeat center;
}

#header .gnb {}

#header .hd_wrap .util {
    flex: 1;

    display: flex;
    justify-content: flex-end;

    white-space: nowrap;
}

#header .hd_wrap .util i {
    font-size: 2.4rem;
}

#header .gnb>ul {
    display: flex;
}


#header .gnb>ul>li ul {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 0;
    overflow: hidden;
}

#header .gnb>ul>li:hover ul {
    height: 10rem;
}

#header .gnb>ul>li:hover ul a {
    line-height: 10rem;
    padding: 0 2rem;
}

#header .gnb>ul>li>a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 10rem;
    white-space: nowrap;

    padding: 0 2rem;
}

#header .gnb>ul>li>a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 0;
    height: 4px;
    background: var(--primary-color);
}

#header .gnb>ul>li:hover>a::after {
    width: calc(100% - 4rem);
    transition: 0.5s;
}

#header.on .gnb>ul>li>a,
#header:hover .gnb>ul>li>a {
    color: #333;
}

#header .util .member {
    display: flex;
    gap: 2rem;
}

#header .util .member a {
    position: relative;
    color: #fff;
    font-size: 1.4rem;

}

#header.on .util .member a,
#header:hover .util .member a {
    color: #333;
}


#header .util .member a~a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: #fff;
    opacity: 0.5;
}

#header:hover .util .member a~a::before,
#header.on .util .member a~a::before {
    background: #333;
}


.mainVisual {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.mainVisual .visual_view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
}

.mainVisual .visual_view .itm {
    position: relative;
}

.mainVisual .visual_view .itm .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    max-width: 129rem;
}

.mainVisual .visual_view .itm .desc em {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0 2.4rem 0;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(0, 10rem);
}

.mainVisual .visual_view .itm.swiper-slide-active .desc em {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}

.mainVisual .visual_view .itm .desc p {
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 6.4rem;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(0, 10rem);
}

.mainVisual .visual_view .itm.swiper-slide-active .desc p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 1s;
}

.mainVisual .visual_content {
    padding-bottom: 56.25%;
}

.mainVisual .util {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    max-width: calc((100% - 129rem)/2 + 129rem);
    width: 100%;
    background: rgba(1, 64, 153, 0.9);
    padding: 0 8rem;

    color: var(--white-color)
}

.mainVisual .util .wheel {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 129rem;
    width: 100%;
    transform: translate(0, -50%);

    display: flex;
    justify-content: center;
}

.mainVisual .util .wheel .dot {
    position: relative;
    padding-left: 6rem;
}

.mainVisual .util .wheel .dot::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 3.2rem;
    height: 4.8rem;
    border: 2px solid #fff;
    border-radius: 1.6rem;
    transform: translate(0, -50%);
}

.mainVisual .util .wheel .dot::after {
    content: "";
    position: absolute;
    left: 1.5rem;
    top: -2px;
    width: 2px;
    height: 8px;
    background: #fff;

    animation: wheel 0.5s infinite;
}


@keyframes wheel {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 2px);
    }
}

.mainVisual .util .controll {
    position: relative;
    display: flex;
    margin: 0 8rem 0 auto;
}

.mainVisual .util .controll .cont {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 0 2rem;
}

.mainVisual .util .controll .cont::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
}

.mainVisual .util .controll .cont::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/icon_pause.svg) no-repeat center center/12px;
}

.mainVisual .util .controll .cont.on::after {
    background: url(../images/icon_play.svg) no-repeat center center/12px;
}

.mainVisual .util .controll svg {
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    overflow: visible;

    transform: rotate(-90deg);
}

.mainVisual .util .controll.on svg {
    animation: svgAni 4s both;
}


@keyframes svgAni {
    0% {
        stroke-dashoffset: 314;
    }

    80% {
        stroke-dashoffset: 0;
        transform: rotate(-90deg);
    }

    100% {
        stroke-dashoffset: 314;
        transform: rotate(270deg);
    }

}


/* stroke-dasharray : 선의 길이
stroke-dashoffset : 선 사이 간격 */

.mainBusiness {
    position: relative;
    background: var(--white-color);
}

.mainBusiness .mainBusinessSlide {
    overflow: visible;
}

@media (max-width: 768px) {
    .mainBusiness .mainBusinessSlide {
        overflow: hidden;
    }
}


.mainBusiness .itm {
    position: relative;
}

.mainBusiness .itm a {
    display: block;
}

.mainBusiness .itm::after {
    content: "";
    position: absolute;
    left: -2rem;
    top: 12rem;
    width: 4rem;
    height: 4rem;
    background: rgb(231, 0, 18);

    transform: skew(-35deg) translate(10rem, -20rem);
    opacity: 0;

    box-shadow: 3rem 3rem 1.6rem rgba(0, 0, 0, 0.5);

    transition: 0.5s;
}

.mainBusiness .itm:hover::after {
    transform: skew(-35deg) translate(0, 0);
    opacity: 1;
}

.mainBusiness .itm:nth-of-type(1)::after {
    top: 12rem;
}

.mainBusiness .itm:nth-of-type(2)::after {
    top: 24rem;
}

.mainBusiness .itm:nth-of-type(3)::after {
    top: 8rem;
}

.mainBusiness .itm:nth-of-type(4)::after {
    top: 10rem;
}

.mainBusiness .itm .img_box {
    position: relative;
    overflow: hidden;
}

.mainBusiness .itm .img_box img {
    transition: 0.5s;
}

.mainBusiness .itm:hover .img_box img {
    transform: scale(1.2);
}

.mainBusiness .itm .desc_box {
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(1, 64, 153, 0.9);

    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;

    padding: 0 4rem;

    opacity: 0;

    transition: 0.5s;
}

.mainBusiness .itm:hover .desc_box {
    opacity: 1;
}

.mainBusiness .itm .desc_box strong {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
}

.mainBusiness .itm .desc_box p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
}


@media (max-width: 768px) {

    .mainBusiness .itm .img_box img {
        width: 100%;
        height: 24rem;
        object-fit: cover;
    }

    .mainBusiness .itm .desc_box {
        position: static;
        width: auto;
        height: auto;
        background: rgba(12, 76, 163, 0);

        display: block;
        padding: 4rem 8rem;

        opacity: 1;
        transition: none;
    }

    .mainBusiness .itm:hover .desc_box {
        opacity: 1;
    }

    .mainBusiness .itm .desc_box strong {
        display: block;
        font-weight: 400;
        font-size: 2rem;
        color: var(--body-color);
        text-align: center;
    }

    .mainBusiness .itm .desc_box p {
        color: var(--body-color);
        text-align: center;
    }
}



.mainNews {
    padding-top: 16rem;
    background: var(--background-color);
}

.mainNews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 8rem;
    background: var(--primary-color);
}

.mainNews .l_list li~li {
    margin-top: 1.6rem;
}

.mainNews .l_list a .tit {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.mainNews .l_list a .tit strong {
    font-size: 2.4rem;
    font-weight: 400;
}

.mainNews .l_list a .tit span {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.mainNews .l_list a .cate {
    position: relative;
    padding: 0 4rem 0 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.mainNews .l_list a .cate::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    right: 0;
    background: url(../images/spr-common.png) -240px -82px no-repeat;
}

.mainBanner {
    position: relative;
    background: url(../images/main_banner.jpg) no-repeat fixed center bottom/cover;
}

.mainBanner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: var(--primary-color);
    opacity: 0.75;
}

.mainBanner .title {
    position: relative;
    text-align: center;
}

.mainBanner .title h2 {
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 300;
}

.mainBanner .title h2::after {
    content: "";
    display: block;
    margin: 4rem auto;
    width: 1px;
    height: 4rem;
    background: var(--white-color);
}

.mainBanner .title p {
    font-size: 4rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 4rem;
}

.mainBanner .title a {
    color: var(--white-color);
    border: 1px solid var(--white-color);
}


.mainPromotion {}

.mainPromotion .inner {
    position: relative;
    max-width: 120rem;
}

.mainPromotion .video_wrap {
    position: relative;
    background: var(--body-color);
    padding-bottom: 56.25%;
    box-shadow: 0px 3rem 6rem -3rem var(--body-color);
}

.mainPromotion .video_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mainPromotion .more {
    position: absolute;
    top: -4rem;
    right: 0;
    text-decoration: underline;
}

.mainPromotion .tit {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 2.4rem;
    height: 8rem;
}

.mainPromotion .desc {
    display: none;
    position: absolute;
    bottom: -2rem;
    right: -4rem;
    background: #fff;
    padding: 4rem 8rem 4rem 4rem;

    width: 62rem;
}

.mainPromotion .desc .txt {
    height: 20rem;
    overflow-y: auto;
    padding-right: 3.2rem;
}

.mainPromotion .desc .txt p {
    margin-bottom: 3.2rem;
    font-size: 1.4rem;
}

.mainPromotion .desc .txt::-webkit-scrollbar {
    width: 8px;
    background-color: var(--background-color);
    border-radius: 4px;
}

.mainPromotion .desc .txt::-webkit-scrollbar-thumb {
    background-color: var(--line-color);
    border-radius: 4px;
}

.mainPromotion .info .open {
    position: relative;
    padding-left: 4rem;
}

.mainPromotion .info .open::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    height: 28px;
    background: url(../images/spr-common.png) no-repeat -240px -106px;
    transform: translate(0, -50%);
}

.mainPromotion .info .close {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 20px;
    height: 20px;
    color: transparent;
    background: url(../images/spr-common.png) no-repeat -260px -80px;
}



.mainRecrurt {
    position: relative;
}

.mainRecrurt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 8rem;
    background: var(--primary-color);
}

.mainRecrurt .inner {
    display: flex;
    gap: 1.6rem;
}

.mainRecrurt .inner>* {
    flex: 1;
    background: #000;
}

.mainRecrurt .inner .left {
    background: url(../images/recruit-left.jpg) no-repeat left top/cover;
}


.mainRecrurt .inner .right {
    background: url(../images/recruit-right.jpg) no-repeat left top/cover;
}


.mainRecrurt .inner a {
    display: block;
    padding: 7.2rem 4.4rem 10.8rem 4.4rem;
}

.mainRecrurt .inner em {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--white-color);
}

.mainRecrurt .inner strong {
    display: block;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 1.6rem;
}

.mainRecrurt .inner p {
    display: block;
    font-size: 1.6rem;
    color: var(--white-color);
    margin-top: 2.4rem;
    letter-spacing: -0.025em;
}

.mainCompany {
    background: var(--background-color);
}

.mainCompany .l_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.mainCompany .l_list a {
    height: 100%;
}

.mainCompany .l_list strong {
    font-size: 2.4rem;
    font-weight: 500;
}

.mainCompany .l_list .con {
    text-align: right;
}

.mainCompany .l_list em {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
}

#footer {
    position: relative;
    background: #333;
    padding: 8rem 0 16rem 0;
    color: var(--line-color);
}

#footer .to_top {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: var(--white-color);

    height: 8rem;
}

#footer .to_top a {
    position: relative;
    display: block;
    padding-left: 2.4rem;
}

#footer .to_top a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(0, -50%);

    width: 12px;
    height: 8px;

    background: url(../images/spr-footer.png) no-repeat -17px 0;
}

#footer .inner {
    position: relative;
}

#footer .customer {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8rem;
}

#footer .customer a {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

#footer .customer strong {
    font-weight: 800;
}

#footer .add {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 0.8rem;
}

#footer .copy {
    font-size: 1.2rem;
    line-height: 2.4rem;
}

#footer .link {
    position: absolute;
    top: 0;
    right: 0;
}

#footer .link .f_link {
    position: relative;
    width: 18rem;
    height: 4rem;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #ddd;

    text-transform: uppercase;
}

#footer .link .f_link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;

    transform: translate(0, -50%);

    width: 8px;
    height: 8px;
    background: url(../images/spr-footer.png) no-repeat 0 0;
}

#footer .link .f_link.on::after {
    background: url(../images/spr-footer.png) no-repeat -8px 0;
}

#footer .link .f_link+ul {
    display: none;
    border: 1px solid #ddd;
    height: 20rem;
    overflow-y: auto;
    margin-top: -1px;
}

#footer .link .f_link+ul a {
    display: block;
    line-height: 4rem;
    padding-left: 2.4rem;
}

#footer .link .f_link+ul li:nth-child(even) {
    background: #444;
}